:root{
  --cols: 6;
  --rows: 6;
  --red: #70161E;
  --blue: #26547C;
  --darkgreen: #596F62;
  --green: #7EA16B;
  --lightgreen: #C3D898;

  --grey: #cbd4c2;
  --white: #fffcff;
  --khaki: #C3B299;

  --backColor: var(--grey);
  --textColor: white;



}

body{
  background-color: var(--white);
  font-family: sans-serif;
}
header{
  height: 75px;
  text-align: center;
  font-size: 30pt;
  line-height: 75px;
  color: var(--darkgreen);
}
#grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: : repeat(5, 100px);
  margin: 50px auto;
  width: 750px;
  height: 100%;
  row-gap: 5px;
  column-gap: 5px;
}

main{
  display: block;
  padding-bottom: 50px;
}

.item{
  width: 100%;
  height: 100px;
  color: #222;
  background-color: var(--khaki);
  text-align: center;
  line-height: 100px;
}

#role{
  display: flex;
  flex-direction: row;
  width: 750px;
  justify-content: right;
  margin: auto;
}



.red{
  --textColor: var(--red);
  --backColor: var(--red);
}

.blue{
  --textColor: var(--blue);
  --backColor: var(--blue);
}

.neutral{
  --backColor: #A3B394;
  --textColor: var(--white);
}

.bomb{
  --backColor: #333;
  --textColor: black;
  --textShadow: 0 0 10px #5A4B35;
}

.spymaster {
  color: var(--textColor);
  text-shadow: var(--textShadow);
}


.btn button{
  background-color: var(--darkgreen);
  border: 2px solid var(--darkgreen);
  color: var(--white);
  padding: 10px 24px;
  cursor: pointer;
}


.btn button:hover{
  background-color: var(--grey);
  color: #222;
}

.clicked2{
  background-color: var(--grey) !important;
  color: #222 !important;
}

.blank{
  flex-grow: 100;
}

.clicked{
  background-color: var(--backColor);
  color: white;
}
