@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;500;600&display=swap');

:root{
  --cols: 6;
  --rows: 6;
  --red: #70161E;
  --blue: #26547C;
  --darkgreen: #596F62;

  --grey: #cbd4c2;
  --white: #fffcff;
  --khaki: #C3B299;

  --backColor: var(--grey);
  --textColor: white;



}

body{
  background-color: var(--white);
  font-family: sans-serif;
}
header{
  padding-top: 25px;
  height: 75px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30pt;
  line-height: 75px;
  color: #64403E;
  font-family: 'Chakra Petch', sans-serif;
  font-weight: 500;
  text-shadow: 0 4px 10px #C8A9A7;
}
#grid {
  display: grid;
  grid-template-columns: repeat(5, 20%);
  grid-template-rows: : repeat(5, 100px);
  margin: 10px auto;
  width: 750px;
  height: 100%;
  font-size: 18px;
  padding: 3px;

}

main{
  display: block;
  padding-bottom: 50px;
}

#scores{
  display: flex;
  flex-direction: row;
  width: 750px;
  margin: auto;
}

#scores h2{
  margin: 3px;
  font-size: 14pt;
}

.item{
  height: 100px;
  color: #222;
  background-color: var(--khaki);
  text-align: center;
  line-height: 100px;
  border: 3px solid var(--white);
}

#role{
  display: flex;
  flex-direction: row;
  width: 750px;
  justify-content: right;
  margin: auto;
}



.red{
  --textColor: var(--red);
  --backColor: var(--red);
}

.blue{
  --textColor: var(--blue);
  --backColor: var(--blue);
}

.neutral{
  --backColor: #A3B394;
  --textColor: var(--white);
  --textShadow: 0 0 3px #332B1E;
}

.bomb{
  --backColor: #333;
  --textColor: #333;
  --textShadow: 0 0 2px #5A4B35;
}

.spymaster {
  color: var(--textColor);
  text-shadow: var(--textShadow);
}


.btn button{
  background-color: var(--darkgreen);
  border: 2px solid var(--darkgreen);
  color: var(--white);
  padding: 10px 24px;
  cursor: pointer;
}


.btn button:hover{
  background-color: var(--grey);
  color: #222;
}

.clicked2{
  background-color: var(--grey) !important;
  color: #222 !important;
}

.blank{
  flex-grow: 100;
}

.clicked{
  background-color: var(--backColor);
  color: var(--white);
}
