:root{
  --cols: 5;
  --rows: 5;
  --backColor: blue;

}

header{
  height: 75px;
  text-align: center;
  font-size: 30pt;
}
#grid {
  display: grid;
  grid-template-columns: repeat(var(--cols), 20%);
  grid-template-rows: : repeat(var(--rows), 100px);
  margin: 50px auto;
  width: 75%;
  height: 100%;
  row-gap: 5px;
  column-gap: 5px;
}

main{
  background-color: #333;
  display: block;
  padding: 50px;
}

.item{
  width: 100%;
  height: 100px;
  color: white;
  background-color: red;
  text-align: center;
  line-height: 100px;
}

#role{
  display: flex;
  flex-direction: row;
  width: 25%;
  justify-content: center;
  margin: auto;
}


.clicked{
  background-color: var(--backColor);
}

.red{
  --textColor: maroon;
  --backColor: maroon;
}

.blue{
  --textColor: blue;
  --backColor: blue;
}

.spymaster {
  color: var(--textColor);
}
